<!-- Base from https://github.com/ahirner/TabulaRazr-OS/blob/xirr-specific/templates/index.html -->
{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2">
    <h3>pdfhook</h3>
    <div class="description text-center">
      pdfhook is a python web application that turns PDF forms into PDF-filling APIs
    </div>
  </div>
</div>
  <div class="row">
    <form class="col-md-4 col-xs-6 col-md-offset-4 col-xs-offset-3" action="{{ url_for('pdfhook.post_pdf') }}" enctype="multipart/form-data" method="post">
        <div class="row">
          <h4 class="text-center">Upload a PDF Form to Try It Out</h4>
          <div class="input-group form-group">
              <span class="input-group-btn">
                  <span class="btn btn-primary btn-file">
                      Browse&hellip; <input type="file" name="file" multiple>
                  </span>
              </span>
              <input type="text" class="form-control" readonly>
          </div>
          <a class="text-center" href="https://github.com/codeforamerica/pdfhook/">Get it on Github</a>
      </div>
      <div class="row">
        <button type="submit" name="submit" class="btn btn-primary btn-lg pull-right">Send</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block code %}
<script src="{{ url_for('static', filename='js/pdfhook.js') }}"></script>
{% endblock %}
