{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>{{ pdf.original_pdf_title }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h3>Fields</h3>
    <pre>{{ json.dumps(pdf, indent=2) }}</pre>
  </div>
</div>

<div class="row">
  <form action="{{ url_for('pdfhook.get_pdf', pdf_id=pdf.id) }}" method="post" class="col-xs-6 col-xs-offset-3">
    <h3>Example Form</h3>
    {% for field in pdf.fields %}
    <fieldset class="form-group">
      {% set field_index = loop.index %}
      {% if field.type == 'text' %}
      <label for="field{{ field_index }}" class="field-label">{{ field.name }}</label>
      <input class="form-control" name="field{{ field_index }}" type="text" value="{{ field.value }}">
      {% elif field.options|length > 2 %}
      <p><strong>{{ field.name }}</strong></p>
      {% for option in field.options %}
        {% if option != 'Off' %}
          <span class="radio-inline">
            <label>
              <input type="radio" name="field{{ field_index }}" value="{{ option }}"
              {%- if field.value == option %} selected{% endif %}> {{ option }}
            </label>
          </span>
        {% endif %}
      {% endfor %}
      {% else %}
      <div class="checkbox">
      <label>
        <input type="checkbox" name="field{{ field_index }}" value="Yes"
        {%- if field.value == "Yes" %} checked{% endif %}> {{ field.name }}
      </label>
      </div>
      {% endif %}
    </fieldset>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock body %}