.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.logo {
  height: 50px;
  -webkit-filter: grayscale(100%) contrast(150%); /* Chrome, Safari, Opera */
          filter: grayscale(100%) contrast(150%);
}

.footer p {
  text-align: right;
  color: gray;
  font-style: italic;
}
